<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.songlin.dispatch.activity.activities" >

    <!--
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.OrderActivity"
            android:label="@string/title_activity_order" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.PersonActivity"
            android:label="@string/title_activity_person" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.SpecificOrderActivity"
            android:label="@string/title_activity_specific_order" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.OrderASideActivity"
            android:label="@string/title_activity_order_aside" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.OrderBSideActivity"
            android:label="@string/title_activity_order_bside" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.OrderCSideActivity"
            android:label="@string/title_activity_order_cside" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.ChangePasswordActivity"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.CleanActivity"
            android:label="@string/title_activity_clean" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.NewListActivity"
            android:label="@string/title_activity_new_list" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.NewsDetailActivity"
            android:label="@string/title_activity_news_detail" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.CreateUserActivity"
            android:label="CreateUserActivity" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.LoginActivity"
            android:label="LoginActivity" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.UserInfoActivity"
            android:label="UserInfoActivity" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.testActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.songlin.dispatch.activitiy_delete.AddOrderActivity"
            android:label="@string/title_activity_add_order" >
        </activity>
    </application>

</manifest>
